<html xmlns:th="http://www.thymeleaf.org">
<div id="mainContent">
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<h1 class="text-2xl font-semibold text-gray-900"><span th:text="${title}"> </span></h1>
	</div>
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<div>
			<div class="mt-8 flow-root">
				<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
					<table class="min-w-full divide-y divide-gray-300">
						<tbody class="divide-y divide-gray-200">
							<th:block th:each="activity: ${activities}">

								<tr>
									<td class="bg-slate-300 h-2.5"></td>
									<td class="bg-slate-300 h-2.5"></td>
									<td class="bg-slate-300 h-2.5"></td>
									<td class="bg-slate-300 h-2.5"></td>
								</tr>
								<tr>
									<td colspan="2" class="table-value">
										<b>
											<span th:title="${activity.id.description}" th:text="${activity.id.humanReadableName}"></span>
										</b>
									</td>
									<td class="w-2.5"></td>
									<td class="w-2.5">
										<a th:href="@{/read(subject=${activity.id.value})}"
											th:hx-get="@{/read(subject=${activity.id.value})}" 
											hx-target="#mainContent">
											<span th:text="${activity.id.value}">
									</td>
								</tr>
								<tr>
									<td colspan="2" class="table-value">
										<b><span th:title="${activity.published.description}" th:text="${activity.published.humanReadableName}"></b>
									</td>
									<td class="w-2.5"></td>
									<td class="table-value-first-column" th:text="${activity.published.value}">										
								</tr>
								<th:block th:each="t: ${activity.types}">
									<tr>
										<td colspan="2" class="table-value">
											<b><span th:title="${t.description}" th:text="${t.humanReadableName}"></b>
										</td>
										<td class="w-2.5"></td>
										<td class="table-value-first-column" >
											<a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" target="_blank" th:href="@{${t.value}}"><span th:text="${t.value}">ss</a>
										</td>
									</tr>
								</th:block>
								<tr>
									<td colspan="2" class="table-value">
										<b><span th:title="${activity.name.description}" th:text="${activity.name.humanReadableName}"></b>
									</td>
									<td class="w-2.5"></td>
									<td class="table-value" th:text="${activity.name.value}"></td>
								</tr>
								<tr>
									<td colspan="2" class="table-value">
										<b><span th:title="${activity.summary.description}" th:text="${activity.summary.humanReadableName}"></b>
									</td>
									<td class="w-2.5"></td>
									<td class="table-value" th:text="${activity.summary.value}"></td>
								</tr>

								<th:block th:each="object: ${activity.objects}">
									<tr>
										<td colspan="3">
											<table border="2">
												<tr>
													<td class="bg-amber-100 w-5"></td>
													<td class="table-value">
														<b>
															<span th:title="${object.id.description}" th:text="${object.id.humanReadableName}">
														</b>
													</td>
<!--													<td class="w-2.5"></td>-->
<!--													<td class="table-value" th:text="${object.id.value}"></td>-->
													<td class="w-2.5">
														<a th:href="@{/read(subject=${activity.id.value})}"
															th:hx-get="@{/read(subject=${activity.id.value})}" 
															hx-target="#mainContent">
															<span th:text="${activity.id.value}">
														</td>
													
												</tr>
												<th:block th:each="t: ${object.types}">
													<tr>
														<td class="bg-amber-100 w-5"></td>
														<td class="table-value">
															<b><span th:title="${t.description}" th:text="${t.humanReadableName}"></b>
														</td>
														<td class="w-2.5"></td>
														<td class="table-value-first-column" >
															<a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" target="_blank" th:href="@{${t.value}}"><span th:text="${t.value}">ss</a>
														</td>
													</tr>
												</th:block>
												<tr>
													<td class="bg-amber-100 w-5"></td>
													<td class="table-value">
														<b><span th:title="${object.name.description}" th:text="${object.name.humanReadableName}"></b>
													</td>
													<td class="w-2.5"></td>
													<td class="table-value" th:text="${object.name.value}"></td>
												</tr>
												<tr>
													<td class="bg-amber-100 w-5"></td>
													<td class="table-value">
														<b><span th:title="${object.summary.description}" th:text="${object.summary.humanReadableName}"></b>
														</td>
													<td class="w-2.5"></td>
													<td class="table-value" th:text="${object.summary.value}"></td>
												</tr>
											</table>
										</td>
									</tr>
								</th:block>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

</html>