<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">


<section layout:fragment="content">

	<div class="container-fluid" id="mainContent">
		<div>
			<h1><span th:text="${title}"> </span></h1>
		</div>
		<div>
			<div>
				<div>
					<div>

						<div th:if="${isError}" role="alert">
							<div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
								Error
							</div>
							<div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
								<span th:text="${errorMessage}">
							</div>
						</div>
						<span th:if="${#lists.isEmpty(genericUiActivityPubObjects)}">
							<div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
								list is empty
							</div>
						</span>
						<span th:if="${not #lists.isEmpty(genericUiActivityPubObjects)}">
							<th:block th:each="genericUiActivityPubObject : ${genericUiActivityPubObjects}">
								<table>
									<thead>
										<tr>
											<th colspan="2" scope="col">
												<span th:text="${genericUiActivityPubObject.name}"></span>
												<span th:text="${genericUiActivityPubObject.subject}"></span>

												<div>
													<!--
													<a class="btn btn-primary"
														th:href="@{'/acceptFollowing?subject=' + ${genericUiActivityPubObject.subject} + '&followed=' + ${genericUiActivityPubObject.getPropertyAsString('https://www.w3.org/ns/activitystreams#actor')}}"
														th:text="Accept"
														th:title="@{'Accept following activity.'}">
														Link with href
													</a>
													-->
													<a class="btn btn-primary"
														th:href="@{'/undoFollowing?subject=' + ${genericUiActivityPubObject.subject} + '&followed=' + ${genericUiActivityPubObject.getPropertyAsString('https://www.w3.org/ns/activitystreams#actor')}}"
														th:text="Undo"
														th:title="@{'Undo following activity.'}">
														Link with href
													</a>
												</div>
											</th>
										</tr>
									</thead>
									<tbody>
										<th:block
											th:fragment="desktop-genericUiActivityPubObject(genericUiActivityPubObject)"
											th:each="property : ${genericUiActivityPubObject.properties}">
											<tr
												th:replace="~{fragments/propertyRow :: desktop-property-row(${property})}">
											</tr>
										</th:block>
									</tbody>
								</table>
							</th:block>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

</html>