<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="show(genericUiActivityPubObject, index)">
	<script>
		var json = JSON.stringify(genericUiActivityPubObject.asJsonLd());
		console.log(json);
	</script>

	<div class="container-fluid">

		<section class="card mt-3">
			<div class="card-header" th:text="${genericUiActivityPubObject.name} + ' - ' + ${index}">xyz</div>
			<section class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">

						<div class="panel-body">
							<div role="tabpanel">

								<!-- Nav tabs -->
								<ul id="myTab" class="nav nav-tabs" role="tablist">
									<li role="presentation" class="nav-link active"><a href="#component" aria-controls="component"
											role="tab" data-bs-toggle="tab">Component</a></li>
									<li role="presentation" class="nav-link"><a href="#properties" aria-controls="properties" role="tab"
											data-bs-toggle="tab">Properties</a></li>
									<li role="presentation" class="nav-link"><a href="#jsonld" aria-controls="jsonld" role="tab"
											data-bs-toggle="tab">json-ld</a></li>
									<li role="presentation" class="nav-link"><a href="#turtle" aria-controls="turtle" role="tab"
											data-bs-toggle="tab">Turtle</a></li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="component">
										<div class="card">
										  <div class="card-body">
											<div class="card" style="width: 18rem;">

											  <div>
												<div th:if="${genericUiActivityPubObject.getIconUrl.isEmpty}" role="alert">
													<svg class="bi bi-align-center" th:replace="~{person}"></svg>
												</div>
												<div th:if="${genericUiActivityPubObject.getIconUrl.isPresent}" role="alert">
													<img class="card-img-top" th:src="@{${actor.getIconUrl.get()}}" alt="">
													<img class="card-img-top" :src="item.avatar" alt="" />
												</div>
											  </div>
											  
											  <div class="card-body">
											    <h5 class="card-title" th:text="${genericUiActivityPubObject.name}">Card title</h5>
											    
												<p class="card-text" th:utext="${genericUiActivityPubObject.summary}"/>
												
											    <a th:href="@{'/follow?subject=' + ${genericUiActivityPubObject.subject}}" class="btn btn-primary">Follow</a>
											  </div>
											</div>
										  </div>
										</div>										
									</div>
									<div role="tabpanel" class="tab-pane" id="properties">
										<div th:replace="~{fragments/showObjectProperties :: show(${genericUiActivityPubObject})}" />
									</div>
									<div role="tabpanel" class="tab-pane" id="jsonld">
										<pre>
											<span th:text="${genericUiActivityPubObject.asJsonLd()}">xyz</span>
										</pre>
									</div>
									<div role="tabpanel" class="tab-pane" id="turtle">
										<pre>
											<span th:text="${genericUiActivityPubObject.asTurtle()}">xyz</span>
										</pre>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</div>
</div>

</html>