<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<section layout:fragment="content">

	<div id="mainContent">
		<h1><span th:text="${title}"> </span></h1>

		<form class="container-fluid" id="query-form" th:object="${formData}" 
			th:action="@{/sparql}" th:method="post">
			<div class="mb-3">
				<textarea class="form-control" id="content" type="content" th:field="*{query}" rows="8" cols="100"/>
			</div>
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<div class="mb-3">
				<span>
					<button type="submit" th:text="Send">Query</button>
				</span>
			</div>
		</form>
	</div>

	<block>
	<h2>Samples</h2>
	<xmp>
	SELECT $s $p $o WHERE { $s $p $o }
	</xmp>
	</block>
	
	
	<!--
	<form class="container-fluid" id="query-form2" th:action="@{/sparql}" th:method="post"
		hx:post="@{/sparql}" hx-swap="outerHTML" hx-target="#mainContent">

		<div class="mb-3">
			<textarea class="form-control" form="query-form2" id="content" type="content" rows="8" cols="100"
			th:field="*{'			PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
			PREFIX as: <https://www.w3.org/ns/activitystreams#>
							
			SELECT *
			WHERE {
			    ?s rdf:type <https://www.w3.org/ns/activitystreams#Note> .
				?s as:content ?content .
			}'}>
				</textarea>				
		</div>

		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

		<div class="mb-3">
			<span>
				<button type="submit" th:text="Send">Query</button>
			</span>
		</div>
	</form>
	-->
</html>
