<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<section layout:fragment="content">

	<div id="mainContent">
		<h1><span th:text="${title}"> </span></h1>

		<pre>
		<span th:text="${result}"> </span>
		</pre>
	</div>

</html>