<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu"
     class="sticky top-0 z-10 flex h-16 flex-shrink-0 bg-white shadow">
    <button type="button"
            class="border-r border-gray-200 px-4 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 lg:hidden"
            @click.stop="openSidebar">
        <span class="sr-only">Open sidebar</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"/>
        </svg>
    </button>
    <div class="flex flex-1 justify-between px-4">
        <div class="flex flex-1">
        </div>
		<div class="flex flex-1">
			
			
			<form id="search-form" 				
				th:action="@{/search}"
				th:method="post"
				hx:post="@{/search}"
				hx-swap="outerHTML"
				hx-target="#mainContent">
				        <input type="text" th:value="${subject}" name="subject" class="advancedSearchTextBox">
				    
				    <button type="submit" value="Search" class="searchbutton">Search</button>
				</form>
			
			<!--
			<form th:action="@{/search}" method="post" autocomplete="off">
			    
			        <input type="text" th:value="${subject}" name="subject" >
			    
			    <button type="submit" value="Search" class="searchbutton">Search</button>
			</form>
			-->
		</div>		
        <div class="ml-4 flex items-center lg:ml-6">

            <!-- Profile dropdown -->
            <div class="relative ml-3"
                 x-data="userPopupMenu()"
                 @click.away="close"
                 @keydown.window.escape="close">
                <div>
                    <button type="button"
                            class="flex max-w-xs items-center rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                            id="user-menu-button" aria-expanded="false" aria-haspopup="true"
                            @click="toggleVisibility">
                        <span class="sr-only">Open user menu</span>
                        <img class="h-8 w-8 rounded-full"
                             src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                             alt="">
                    </button>
                </div>

                <!--
                  Dropdown menu, show/hide based on menu state.

                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                     role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
                     x-show="isVisible()"
                     x-cloak
                     x-transition:enter="transition ease-out duration-100 transform"
                     x-transition:enter-start="opacity-0 scale-95"
                     x-transition:enter-end="opacity-100 scale-100"
                     x-transition:leave="transition ease-in duration-75 transform"
                     x-transition:leave-start="opacity-100 scale-100"
                     x-transition:leave-end="opacity-0 scale-95">
                    <!-- Active: "bg-gray-100", Not Active: "" -->

				   <div class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
				   	<form>
				   		<button type="submit" th:text="Profile"
							th:hx-get="@{/profile}" 
							hx-target="#mainContent">
				         		Profile
				      	</button>
				    </form>
				   </div>
					   
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                       id="user-menu-item-1">Settings</a>
					
				   <div class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
					<form th:action="@{/logout}" method="post">
						<button type="submit" th:text="Signout">
					   		Sign out
				   		</button>
				   	</form>
				   </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>